.heart {
    color: red;
    font-size: 8rem;
    transform-origin: center;
    animation: heart 0.6s infinite alternate;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: cyan;
    position: relative;
}   

@keyframes heart {
    0% {
        transform: scale(.87);
    }
    80% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(0.88);
    }
}
p{
    color: green;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transition: 0.3s;

}
p:hover{
    font-size: 1.2rem;
    transition: 0.3s;
}
body{
    background-color: black;
}
